.toast {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 15px;
  background-color: rgba(0, 0, 0, .5);
  padding: 10px;
  color: #fff;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}