.scrollTop {
  cursor: pointer;
}

.nv-header {
  text-align: right;
}

.searcher-animation-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.searcher-animation-enter.searcher-animation-enter-active {
  opacity: 1;
}

.notice {
  text-align: center;
  color: #cccccc;
}

.notice code {
  padding: 2px 5px;
  border-radius: 2px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}