.tool {
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 250px;
  background-color: #fff;
  z-index: 2333;
  transition: transform 300ms ease-out;
}

.tool.close {
  transform: translateX(-210px);
}

.tool.open {
  transform: translateX(0);
}

.tool-contain {
  width: 210px;
}

.tool-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #313131;
  width: 40px;
}

.tool-bar .fa {
  margin-top: 10px;
  color: #fff;
  font-size: 25px;
  cursor: pointer;
}

.tool .fa-bars::before {
}