.tool {
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 200px;
  background-color: #fff;
  z-index: 2333;
  transform: translateX(-170px);
  transition: transform 300ms ease-out;
}

.tool.close {
  transform: translateX(-170px);
}

.tool.open {
  transform: translateX(0);
}

.tool-contain {
  width: 170px;
}

.tool-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #313131;
  width: 30px;
}

.tool-bar .fa {
  margin-top: 10px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

.tool .fa-bars::before {
}

.tool .avatar {
  width: 105px;
  height: 105px;
  margin: 35px auto;
  border-radius: 50%;
  padding: 5px;
  box-sizing: border-box;
  background: rgba(150,150,150,0.3);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.tool .avatar img {
  width: 95px;
  border-radius: 50%;
}