.bookmarksbox-body-item {
  position: relative;
}

.del {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10px;
  align-items: center;
  justify-content: center;
  width: 25px;
  color: #ccc;
}

.bookmarksbox-body-item:hover .del {
  display: flex;
}


