@keyframes confirmShow {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes itemDrop {
  0% {
    background-color: aliceblue;
  }
  100% {
    background-color: transparent;
  }
}

.bookmarksbox-body-item {
  position: relative;
}

.del {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10px;
  align-items: center;
  justify-content: center;
  width: 25px;
  color: #ccc;
}

.bookmarksbox-body-item:hover .del {
  display: flex;
}

.confirm {
  position: absolute;
  display: flex;
  padding: 0 10px;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0 ,0, 0, .3);
  color: #fff;
  animation: confirmShow 300ms cubic-bezier(0.18, 0.89, 0.32, 1.28) 0s;
}

.confirm span {
  padding: 5px;
  height: 19px;
  background-color: gray;
  border-radius: 2px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.confirm button {
  margin-left: 5px;
  flex-grow: 1;
  height: 29px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  border: none;
  outline: none;
  border-radius: 2px;
  color: #fff;
  background-color: rgb(192, 192, 192);
}

.confirm button:first-of-type {
  background-color: rgb(216, 89, 89);
}

.bookmarksbox-body-item {
}


