.addurlbutton {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0 14px 0 0;
  font-size: 14px;
  color: #ccc;
  cursor: pointer;
}

.addurlbutton:hover {
  color: #676767;
}