.addurlbox {
  height: 0;
  overflow: hidden;
  transition: height 300ms;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.addurlbox input {
  border: none;
  border-left: 1px solid #d8d8d8;
  outline: none;
  height: 35px;
  padding-left: 10px;
  width: 200px;
  box-sizing: border-box;
}

.addurlbox input:last-of-type {
  border-right: 1px solid #d8d8d8;
}

.addurlbox form {
  display: flex;
  align-items: center;
}

.addurlbox button {
  border: none;
  outline: none;
  width: 44px;
  height: 29px;
  color: #fff;
  cursor: pointer;
  margin-left: 5px;
  border-radius: 2px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.addurlbox button:first-of-type {
  background-color: #38f;
}

.addurlbox button:last-of-type {
  margin: 0 5px;
}


.addurlbutton {
  background-color: transparent;
  border: none;
  outline: none;
  margin-right: 5px;
  cursor: pointer;
}

.item-animation-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.item-animation-enter.item-animation-enter-active {
  opacity: 1;
}

.item-animation-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.item-animation-leave.item-animation-leave-active {
  opacity: 0.01;
}