.addurlbox {
  height: 0;
  overflow: hidden;
  transition: height 300ms;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.addurlbox input {
  border: none;
  border-left: 1px solid #d8d8d8;
  outline: none;
  height: 35px;
  padding-left: 10px;
  width: 200px;
  box-sizing: border-box;
}

.addurlbox form {
  display: flex;
}

.addurlbox button {
  border: none;
  outline: none;
  width: 65px;
  color: #fff;
  cursor: pointer;
}

.addurlbox button:first-of-type {
  background-color: #38f;
}


.addurlbutton {
  background-color: transparent;
  border: none;
  outline: none;
  margin-right: 5px;
  cursor: pointer;
}